{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">Кликер!</h1>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-6">
                <div class="card">
                     <div class="card-body">
                        <h2 class="text-center mb-4">Количество кликов</h2>
                        <p class="text-center mb-4">{{ current_user.clicks }}</p>
                        <div class="text-center">
                            <a href="{{ url_for('click') }}" class="btn btn-primary mx-auto">Кнопка</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}